# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - Nadym-Fontys-S6-Gateway

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  login: 
    runs-on: 'ubuntu-latest'
    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.AzureAppService_ContainerUsername_7b5852a302044732967f88a5ec6b8a45 }}
        password: ${{ secrets.AzureAppService_ContainerPassword_e0c19723af224c7aafab29494fdfd062 }}
  
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build and push container image to registry
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        tags: ${{ secrets.AzureAppService_ContainerUsername_7b5852a302044732967f88a5ec6b8a45 }}/fontys-s6-gateway:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'Nadym-Fontys-S6-Gateway'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_6490176cf3174ecc812188cd925647b5 }}
        images: 'index.docker.io/${{ secrets.AzureAppService_ContainerUsername_7b5852a302044732967f88a5ec6b8a45 }}/Fontys-S6-gateway:${{ github.sha }}'
